#dzone {
    display: none;
}

.fallback {
    background-color: #FAFBFC;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;

    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#fileinput {
    margin-top: 20px;
}

#submitbtn {
    margin-top: 30px;
    background-color: #FFF;
    border: 2px solid #556A7F;
    width: 90px;
    height: 30px;
}

#submitbtn:hover {
    background-color: #556A7F;
    color: white;
    border: 2px solid #FAFBFC;
}

#dropzone {
    width: 100%;
    margin: 0 auto;
}

#fileupload {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#uploads {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

div.dz-default {
    max-width: 33rem;
    margin: 0 auto;
    border: 1px dotted #777777;
    border-radius: 5px;
    color: #777777;
    font-size: 14px;
    background: #FFF;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
    cursor: pointer;
}
@media(max-width: 500px) {
    div.dz-default {
        max-width: 20rem;
    }
  }

div.dz-default:hover {
    background-color: #f0fffb;
}

div.upload {
    flex: 0 1 33rem;
	background-color: #e6eff8;
	border: 1px solid #C9C9C9;
	margin-bottom: 5px;
    padding: 5px;
    overflow-wrap: anywhere;
}
@media(max-width: 500px) {
    div.upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2.3rem;
        justify-content: space-between;
    }
  }

.upload {
	font-size: 12px;
}

.upload a {
	font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dotted #002b51;
    font-weight: 600;
    color: #002b51;
}

.upload a:hover {
    border-bottom: 1px dotted #002b51;
    color: #002b51;
}

.upload .deleted,
.upload .error {
    color: #FF1635;
}

.upload .right {
	float: right;
	padding-left: 5px;
}

.cancel {
	margin-right: 5px;
	font-size: 12px;
    border-bottom: 1px dotted #002b51;
    color: #ff8b9a;
    cursor: pointer;
}

.expiry {
    color: #8c89e1;
}

.dz-drag-hover div.dz-default {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMUlEQVQYV2NkwAESqm/7MmKTA0ksaFXdjCEJkwBpQpFElkCRRJeAS2KTAEvikgBJAgCPxBoLx7CKYQAAAABJRU5ErkJggg==) repeat #FFF;
}
