{% extends "../cpro.html" %}
{% block content %}
<main class="cp-main cp-main_screen cp-main_center">
    <div class="cp-container cp-container_pt" style="padding-bottom: 120px;">
        <h2 style="text-align: center;">Добро пожаловать!</h2>
        <p style="text-align: center;">Похоже, кто-то поделился с&nbsp;вами файлом. Вы&nbsp;можете скачать его <b>по&nbsp;временной&nbsp;ссылке</b>&nbsp;ниже:</p>
        <div style="background: #e6eff8; border: 1px solid #C9C9C9; text-align: center; overflow-wrap: anywhere; padding: 0 10px;">
            <p style="margin-top:20px; margin-bottom: 0; padding-bottom: 5px; font-weight: 700; word-break: break-all;">
                <a style="color: #0055a2; border-bottom: 1px dotted #002b51;" href="{{ sitepath }}{{ download }}">{{ filename }}</a> 
                <span style="font-size: small; color:firebrick">{{ size }}</span>
            </p>
            <p style="font-size: small; color:gray; margin-top: 0; margin-bottom: 20px">Ссылка действительна в&nbsp;течение {{ expiry }}.</span>
        </div>
    </div>
</main>
{% endblock %}