<!DOCTYPE html>
<html>
<head>
    <title>КриптоПро | Файлообменный сервис</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0055a2">
    <link rel="stylesheet" href="{{ sitepath }}static/css/style.css">
    <link href='{{ sitepath }}static/images/favicon.png' rel='icon' type='image/png'>
</head>
<body>
<div id="main">
    <div class="header">
        <div class="header-wrapper">
            <div class="header-itm"><a href="/"><img src="{{ sitepath }}static/images/logo_cryptopro_white.svg" style="height:3rem;"></a></div>
            <div class="header-itm"><b>Временная ссылка</b><br>Файлообменный сервис</div>
        </div>
    </div>
    <div id="main-content">
        <div id="content">
            <h2>Добро пожаловать!</h2>
            <p style="text-align: center;">Похоже кто-то из <b>КриптоПро</b> поделился с вами этой ссылой, вы можете скачать прикреплённый файл <b>по
                временной ссылке ниже</b>:</p>
            <div style="background: #e6eff8; border: 1px solid #C9C9C9; text-align: center; overflow-wrap: anywhere; padding: 0 10px;">
                <p style="margin-top:20px; margin-bottom: 0; padding-bottom: 5px; font-weight: 500;">
                    <a style="color: #0055a2; text-decoration: none; border-bottom: 1px dotted #002b51;" href="{{ sitepath }}{{ download }}">{{ filename }}</a> 
                    <span style="font-size: small; color:firebrick">{{ size }}</span>
                </p>
                <p style="font-size: small; color:gray; margin-top: 0; margin-bottom: 20px">(ссылка действительна в течение {{ expiry }})</p></div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-img"></div>
        <div id="footer-wrapper">
            <div id="footer-row">
                <b>Файлообменный сервис</b><br>
                © ООО «КРИПТО-ПРО»
            </div>
        </div>
    </div>
</div>
</body>
</html>