<!DOCTYPE html>
<html>
<head>
    <title>КриптоПро | Файлообменный сервис</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0055a2">
    <link rel="stylesheet" href="{{ sitepath }}static/css/style.css">
    <link href='{{ sitepath }}static/images/favicon.png' rel='icon' type='image/png'>
    <link href='{{ sitepath }}static/css/linx.css' rel='stylesheet' type='text/css'>
    <link href='{{ sitepath }}static/css/hint.css' rel='stylesheet' type='text/css'>
    <link href='{{ sitepath }}static/css/dropzone.css' media='screen, projection' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="main">
    <div class="header">
        <div class="header-wrapper">
            <div class="header-itm"><a href="/"><img src="{{ sitepath }}static/images/logo_cryptopro_white.svg" style="height:3rem;"></a></div>
            <div class="header-itm"><b>Временная ссылка</b><br>Файлообменный сервис</div>
        </div>
    </div>
    <div id="main-content" style="flex: auto;">

        <div id="fileupload">
            <form action="{{ sitepath }}upload" class="dropzone" id="dropzone" method="POST"
                  enctype="multipart/form-data"
                  data-maxsize="{{ maxsize }}" data-auth="none">
                <div class="fallback">
                    <input id="fileinput" name="file" type="file"/><br/>
                    <input id="submitbtn" type="submit" value="Upload">
                </div>

                <div id="dzone" class="dz-default dz-message">
                    <img src="{{ sitepath }}static/images/upload.svg" style="max-width:120px"><br>
                    <span>Поместите файл в область <br>или вставьте изображение</span>
                </div>

                <div id="choices">
                    <div id="expiry">
                        <label>Хранение:
                            <select name="expires" id="expires">
                                <option value="172800" selected>
                                    2 дня
                                </option>
                                <option value="1209600">
                                    2 недели
                                </option>
                                <option value="5184000">
                                    2 месяца
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </form>
            <div id="content">
                <div id="container_container">
                    <div id="container">
                        <div id="uploads"></div>
                        <div class="clear"></div>
                        <script src="{{ sitepath }}static/js/dropzone.js"></script>
                        <script src="{{ sitepath }}static/js/upload.js"></script>
                        <script src="{{ sitepath }}static/js/storage.js"></script>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div id="footer">
        <div id="footer-img"></div>
        <div id="footer-wrapper">
            <div id="footer-row">
                <b>Файлообменный сервис</b><br>
                © ООО «КРИПТО-ПРО»
            </div>
        </div>
    </div>
</div>
</body>
</html>